@model IEnumerable<MonuGuardaApp.Models.Concelho>

@{
    ViewData["Title"] = "Index";
}
<p style="margin-top: 20px">
    <a asp-action="Create">Criar novo concelho</a>
</p>
<h1 style="margin-top: 20px">Concelhos existentes:</h1>

<div style="margin-top: 20px" class="card-deck">
    <div class="row justify-content-center">

        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card mt-50" style="width: 300px; height: 150px">
                    <div class="card-body">
                        <h4 class="card-title">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </h4>
                        <h5 class="card-text">
                            <a asp-action="Edit" asp-route-id="@item.ConcelhoId">Editar</a>
                        </h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
