@model MonuGuardaApp.Models.VisitasGuiadas

@{
    ViewData["Title"] = "Edit";
}

<h4 style="margin-top: 20px">Editar visita guiada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VisitasGuiadasId" />
            <div class="form-group">
                <label asp-for="GuiaId" class="control-label">Guia</label>
                <select asp-for="GuiaId" class="form-control" asp-items="ViewBag.GuiaId"></select>
                <span asp-validation-for="GuiaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PontosdeInteresseId" class="control-label">Pontos de interesse</label>
                <select asp-for="PontosdeInteresseId" class="form-control" asp-items="ViewBag.PontosdeInteresseId"></select>
                <span asp-validation-for="PontosdeInteresseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalPartida" class="control-label">Local de partida</label>
                <input asp-for="LocalPartida" class="form-control" />
                <span asp-validation-for="LocalPartida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalChegada" class="control-label">Local de chegada</label>
                <input asp-for="LocalChegada" class="form-control" />
                <span asp-validation-for="LocalChegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataVisita" class="control-label">Data da visita guiada</label>
                <input asp-for="DataVisita" class="form-control" />
                <span asp-validation-for="DataVisita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Descrição</label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NMaxPessoas" class="control-label">Número máximo de pessoas</label>
                <input asp-for="NMaxPessoas" class="form-control" />
                <span asp-validation-for="NMaxPessoas" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Completo" /> Completo
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-bottom: 20px">
    <a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
