
@{
    ViewData["Title"] = "About";
}

<body>

    <div style="margin-top: 75px">
        <h1 style="text-align: center">Guarda Candidata a Capital da Cultura 2027</h1>
        <p>A Guarda decidiu avançar com a intenção de uma candidatura a Capital Europeia da Cultura de 2027. Nós somos estudandes do terceiro ano de Engenharia Informática no Instituto Politécnico da Guarda e decidimos contribuir criando uma página web sobre monumentos e principais eventos culturais do distrito para visitar. Este projeto é de âmbito académico e está a ser desenvolvido para as disciplinas de Programação para Internet e Engenharia de Software II.</p>
    </div>
        
    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR1YgqgGAI4QaQjNukalmkYApeWY_bc0sxcYw&usqp=CAU" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        João Elmano
                    </h4>
                    <p class="card-text"> Estou muito contente por ter a possibilidade de participar neste projeto uma vez que a Guarda é sem dúvida uma cidade que não irei esquecer e com este projeto ainda a puderei conhecer melhor</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="https://holdingfamiliar.net/wp-content/uploads/2020/05/gestoria-tramites-trafico-huelva.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        Diogo Biscaia
                    </h4>
                    <p class="card-text">
                        Atrai-me ao potencial de reflexão sobre os desafios e potencialidades deste projeto. Sou natural da cidade do Porto mas acho que
                        a Guarda precisa do devido enaltecimento pois considero a uma verdadeira pérola escondida.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="https://image.freepik.com/fotos-gratis/homem-jovem-bonito-empresario-sobre-fundo-isolado_1368-59143.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        Francisco Marques
                    </h4>
                    <p class="card-text">Sempre vivi no distrito da Guarda, por isso é com grande fascínio que entro neste projeto para assim dar a conhecer mais sobre a cidade e como é um belo local a visitar</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

