
@{
    ViewData["Title"] = "About";
}



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">MonuGuarda</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Privacy">Privacidade</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">Sobre Nós</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contactos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div style="margin-top: 75px">
        <h1 style="text-align: center">Guarda Candidata a Capital da Cultura 2027</h1>
        <p>A Guarda decidiu avançar com a intenção de uma candidatura a Capital Europeia da Cultura de 2027. Nós somos estudandes do terceiro ano de Engenharia Informática no Instituto Politécnico da Guarda e decidimos contribuir criando uma página web sobre monumentos e principais eventos culturais do distrito para visitar. Este projeto é de âmbito académico e está a ser desenvolvido para as disciplinas de Programação para Internet e Engenharia de Software II.</p>
    </div>
        
    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        João Elmano
                    </h4>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        Diogo Biscaia
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        Francisco Marques
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
                </div>
            </div>
        </div>
    </div>

</body>

<footer class="py-5 bg-dark" style="margin-top: 30px ">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>

</html>

