@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-home.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <h1>
            Eventos
            <h5>Eventos culturais do distrito da Guarda</h5>
        </h1>

        <div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">

                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div class="carousel-item active" style="background-image: url('https://terrasdabeira.gmpress.pt/wp-content/uploads/2020/02/Pinhel.jpg')"> </div>

                    <!-- Slide Two - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url('https://i2.wp.com/www.ointerior.pt/wp-content/uploads/2020/02/pe6a.jpg?ssl=1')"> </div>

                    <!-- Slide Three - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url('https://static.wixstatic.com/media/c43012_701c19488e594a8cb3ab5371ccc33b99~mv2.png/v1/fit/w_1024,h_576,al_c,q_80/file.png')"> </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div>
                <h2>Feira das Tradições</h2>
                <p>No fim-de-semana prolongado do Carnaval aproveita e visita  uma das feiras de produtos regionais que acontece nas cidades próximas da Guarda. Recomendo-te a Feira das Tradições de Pinhel, a uma distância de 30km e com grande animação.</p>

                <p>Aqui podes experimentar os sabores típicos da beira serra (enchidos, queijo, azeite, pão, compotas, mel e vinhos) e a gastronomia regional com especial destaque para o buxo com grelos e o cabrito assado.</p>

                <p>Na hora da partida leva algumas das iguarias contigo e partilha-as com os amigos, decerto farás furor! Da feira podes também levar produtos artesanais, alguns confecionados no momento.</p>

                <p>Aproveita os concertos noturnos com músicos populares, sempre muito animados e cheios de boa disposição. Estas feiras são sempre inolvidáveis!</p>
            </div>
        </div>

        <div style="margin-top: 40px">
            <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">

                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div class="carousel-item active" style="background-image: url('https://beira.pt/wp-content/uploads/2020/01/galo-4-712x475.jpg')"> </div>

                    <!-- Slide Two - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url('https://live.staticflickr.com/3706/32392964603_0f320b95a2.jpg')"> </div>

                    <!-- Slide Three - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url('https://i1.wp.com/ointerior.pt/wp-content/uploads/2020/02/Galaro.jpg?fit=748%2C388&ssl=1')"> </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div>
                <h2>Guarda Folia</h2>
                <p> A Câmara Municipal da Guarda assinala no Carnaval um programa que inclui um desfile e o “Julgamento do Galo do Entrudo”. Consta ainda o desfile infantil, as Tabernas do Entrudo, teatro e a ‘Fun Run’.</p>

                <p>O programa de animação de Carnaval da Guarda Folia destaca-se por ser um “Carnaval genuinamente português” que tem no Domingo Gordo o seu auge de festejo com o desfile e Julgamento do Galo do Entrudo, que conta habitualmente com a participação das freguesias do concelho.</p>

                <p>O desfile e Julgamento do Galo, junto à Alameda de Santo André, conta com a participação de grupos de bombos e de fanfarras, que animarão o percurso até à Praça Luís de Camões, junto da Sé Catedral, onde decorrerá o tradicional espetáculo do “Julgamento do Galo”.</p>
            </div>
        </div>

        <div style="margin-top: 40px">
            <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators3" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">

                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div class="carousel-item active" style="background-image: url('https://beira.pt/wp-content/uploads/2019/12/madeiro-guarda--712x475.jpg" />')">
                </div>

                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://c5.quickcachr.fotos.sapo.pt/i/B5417751e/21652652_YVrJ2.jpeg')"> </div>

                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://cdn.visitportugal.com/sites/default/files/styles/encontre_detalhe_poi_destaque/public/mediateca/Madeiro%20660x371.jpg?itok=uYqnl5lA')"> </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div>
            <h2>Madeiro de Natal</h2>
            <p> Aldeia, Vila ou Cidade que se preze, no interior de Portugal, tem uma fogueira ou madeiro de Natal, como é carinhosamente denominado pelos habitantes. </p>
            <p>Na Guarda, na noite de consoada, enquanto esperas pela Missa do Galo, poderás ir até à Praça Luís de Camões onde encontrarás muitas pessoas à volta da fogueira em frente à Sé catedral. Trata-se do ponto de encontro e convívio que se prolonga pela noite dentro. Ali partilham-se vivências e evocam-se recordações.  </p>
            <p>Apesar do frio noturno, vais sentir-te confortável junto do grande braseiro resultante do madeiro.</p>
        </div>

        <div style="margin-top: 40px">
            <div id="carouselExampleIndicators4" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators4" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators4" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators4" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">

                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div class="carousel-item active" style="background-image: url('https://www.viajecomigo.com/wp-content/uploads/2019/07/Casas-de-Cidadelhe-Pinhel-Portugal-%C2%A9-Viaje-Comigo.jpg')">
                    </div>

                    <!-- Slide Two - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url('https://thumbs.web.sapo.io/?W=800&H=0&delay_optim=1&epic=YjMxXKy2VhcMgzkUnQUM0nyGYWu8HGI75cGx1hyAiT9M6tYX7ntp/rg8RUU6DiN9iibuMuAO0tRe9g9X/ubua5Mh/aAItYU2g1RhfBEVJIKyb+E=') "> </div>

                    <!-- Slide Three - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url('https://www.aproximaviagem.pt/wp-content/uploads/2019/10/Sortelha-destaque.jpg') "> </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators4" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators4" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div>
                <h2>Viagem do Elefante</h2>
                <p> O passeio turístico Viagem do Elefante permite-te conhecer o caminho que o paquiderme indiano Salomão percorreu, no século XVI, desde Lisboa até Viena para ser oferecido pelo rei D. João III de Portugal ao arquiduque da Áustria Maximiliano II como prenda de casamento.</p>
                <p>A inspiração para a criação deste roteiro turístico no Vale do Côa assenta na obra de José Saramago, escritor português premiado com o Nobel da Literatura em 1998. </p>
                <p>As localidades chave a visitar são Sortelha, Cidadelhe (Pinhel) e Castelo Rodrigo.</p>
                <p>Ao percorreres o trilho descrito na obra de Saramago, ficas a conhecer profundamente as belas paisagens naturais que se vão desenrolando ao longo do percurso que passa pelos concelhos de Sabugal, Almeida, Pinhel e Figueira de Castelo Rodrigo. Nesta viagem aprecia a simpatia genuína das gentes simples que habitam estes lugares tranquilos. </p>
                <p>Neste percurso assistes à combinação perfeita entre cultura, património e literatura e delicia-te com a gastronomia da região bem como com os vinhos e doces típicos.</p>
            </div>
        </div>

        <div style="margin-top: 40px">
            <div id="carouselExampleIndicators5" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators5" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators5" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators5" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">

                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div class="carousel-item active" style="background-image: url('https://beira.pt/wp-content/uploads/2018/12/magusto-velha-adsi-1030x558-1-712x386.jpg')">
                    </div>

                    <!-- Slide Two - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url('https://beira.pt/wp-content/uploads/2019/12/magusto-velha.jpg') "> </div>

                    <!-- Slide Three - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url('https://i2.wp.com/ointerior.pt/wp-content/uploads/2019/12/Magusto.jpg?fit=810%2C544&ssl=1') "> </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators5" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators5" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div>
                <h2>Magusto da Velha</h2>
                <p> No dia 26 de Dezembro vai até Aldeia Viçosa (dista cerca de 15km da Guarda) e participa do Magusto da Velha, uma tradição que remonta a 1698. </p>
                <p>Segundo a tradição, viviam-se na altura tempos de fome, quando uma velha abastada terá feito uma doação para que o povo pudesse um dia por ano, beber vinho e comer castanhas. Em contrapartida, o clero comprometia-se a rezar em sua memoria um padre-nosso, todos os anos depois do natal. A vontade foi satisfeita e a tradição perpetua-se até hoje. </p>
                <p>Neste dia, quando chegares à aldeia, ouvirás o repicar dos sinos que anunciam o início da folia. </p>
                <p>Junto ao Madeiro de Natal, que ainda arde, novos e velhos aguardam que do cimo do campanário da igreja chovam 150kg de castanhas.  </p>
                <p>Quando alguém exclama “cuidado com as cabeças; vai chover castanhas”, o frenesim começa. Chovem castanhas sobre o adro da igreja e o cenário mais parece uma batalha campal. O jogo do empurra começa para ver quem apanha mais castanhas.</p>
                <p>As risadas soltam-se também por causa das “cavalgadas”, vulgo saltar para as costas de quem está baixo a apanhar as castanhas.  </p>
                <p>Assim que as castanhas terminam aparece o vinho tinto. </p>
                <p>A festa continua com a confraternização e a boa disposição. Uma coisa é certa, vais divertir-te nesta brincadeira centenária! </p>
            </div>
        </div>

        <div style="margin-top: 40px">
            <div id="carouselExampleIndicators6" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators6" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators6" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators6" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">

                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div class="carousel-item active" style="background-image: url('https://beira.pt/wp-content/uploads/2018/06/sao-joao-guarda-712x475.jpg')">
                    </div>

                    <!-- Slide Two - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url('https://lh5.ggpht.com/_Ynkg-kVEqjA/Skk1mBrDWfI/AAAAAAAAjIk/LpJ-8jvxNGc/S_jo%C3%A3o.jpg?imgmax=640') "> </div>

                    <!-- Slide Three - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url('https://c7.quickcachr.fotos.sapo.pt/i/Baa045445/13009451_A70rB.jpeg') "> </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators6" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators6" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div>
                <h2>Feira de S. João</h2>
                <p>A Feira de S. João na Guarda é uma das mais antigas e importantes da região, tendo sido criada por decreto régio em 1255. O certame anual, de vital importância económica, juntava feirantes e populares do interior do país. No recinto transacionavam-se produtos agrícolas, animais e artesanato. </p>
                <p>A Câmara Municipal da Guarda retomou a tradição e tem vindo a apoiar esta iniciativa pelo que durante 3 dias no Largo João de Deus vais encontrar a recriação histórica da feira do início do século XX. </p>
                <p>Nesta evocação,dezenas de figurantes trajados a rigor, encontrarás uma verdadeira feira tradicional onde poderás comprar produtos da terra, artesanato e arte popular. </p>
                <p>Nas bancas encontrarás couves, alfaces, feijão, hortaliças, castanhas piladas, mel, vinho, licores, pão caseiro, presunto e queijo, biscoitos, coscoréis, doces, compotas, bolachas, manjericos e flores. </p>
                <p>Do artesanato regional podes levar como recordação os cobertores de papa e as campainhas de bronze de Maçainhas, as tesouras da tosquia do Jarmelo, as facas do Verdugal, a cestaria de vime de Gonçalo e em madeira de castanho de Famalicão. </p>
                <p>Nas tasquinhas improvisadas para aqueles dias podes descansar enquanto saboreias o caldo verde ou o caldo de grão da Guarda, ou as sardinhas assadas ou carnes variadas grelhadas. </p>
                <p>O ponto alto da feira é a noite de S. João, quando pela meia noite se ascende a fogueira de rosmaninho e se queima a boneca de farrapos após o que se inicia o baile ao som dos acordeãos. </p>
                <p>Se a determinada altura escutares o barulho dos cascos na calçada, olha com atenção e verás o desfile de cavaleiros jovens e velhos , alguns com traje a rigor, em cavalos brancos, castanhos ou malhados. Estes percorrem os cantos da cidade desde o antigo matadouro até ao espaço da feira, passando pela Sé Catedral, Igreja de S. Vicente e Igreja da Misericórdia. </p>
                <p>O espetáculo proporcionado é deveras interessante. Não te arrependerás de viver esta tradição guardense!</p>
            </div>
        </div>

        <div style="margin-top: 40px">
            <div id="carouselExampleIndicators7" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators7" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators7" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators7" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">

                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div class="carousel-item active" style="background-image: url('https://beira.pt/wp-content/uploads/2014/05/feira_anual_do_jarmelo.jpg')">
                    </div>

                    <!-- Slide Two - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url('https://mb.web.sapo.io/6da59fe71b4870347376891494bdb17346074378.jpg') "> </div>

                    <!-- Slide Three - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url('https://beira.pt/wp-content/uploads/2017/05/vaca-jarmelista-1-712x473.jpg') "> </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators7" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators7" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div>
                <h2>Feira Concurso do Jarmelo</h2>
                <p>A 15km da Guarda, encontrarás a antiga Vila do Jarmelo – antigo povoado fortificado implantado a 950m de altitude num cabeço com amplo domínio visual sobre toda a paisagem envolvente.</p>
                <p>Neste espaço, usualmente reina a calma, a serenidade e a quietude. Esta sensação quebra-se no primeiro fim-de-semana de Junho! No domingo realiza-se a feira-concurso do Jarmelo com tudo que caracteriza uma e outra coisa: há compras e vendas; há prémios e premiados.</p>
                <p>Aqui podes adquirir produtos tradicionais directamente no produtor. Mas, o mais importante é observares os belos exemplares de gado bovino, caprino e ovino devidamente arranjado para o evento! </p>
                <p>O objetivo dos criadores, para alem de participar, é ganhar o 1º prémio e ver os seus animais reconhecidos como os melhores da região. No final do certame são entregues os prémios aos escolhidos.</p>
                <p>Ao almoço podes degustar a tenra e saborosa carne de vitela jarmelista, raça autóctone. Durante a tarde diverte-te com a garraiada e as brincadeiras inerentes! </p>
                <p>Um programa animado que te ajuda a conhecer o mundo rural e as aldeias típicas desta zona de Portugal.</p>
            </div>
        </div>

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
                <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
            </li>
        </ul>

        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
