@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-home.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div >
                <h1>
                    Eventos  
                    <h5>Eventos culturais do distrito da Guarda</h5>
                </h1>

                <div>
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">

                            <!-- Slide One - Set the background image for this slide in the line below -->
                            <div class="carousel-item active" style="background-image: url('https://terrasdabeira.gmpress.pt/wp-content/uploads/2020/02/Pinhel.jpg')"> </div>

                            <!-- Slide Two - Set the background image for this slide in the line below -->
                            <div class="carousel-item" style="background-image: url('https://i2.wp.com/www.ointerior.pt/wp-content/uploads/2020/02/pe6a.jpg?ssl=1')"> </div>

                            <!-- Slide Three - Set the background image for this slide in the line below -->
                            <div class="carousel-item" style="background-image: url('https://static.wixstatic.com/media/c43012_701c19488e594a8cb3ab5371ccc33b99~mv2.png/v1/fit/w_1024,h_576,al_c,q_80/file.png')"> </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <div>
                        <h2>Feira das Tradições</h2>
                        <p>
                            No fim-de-semana prolongado do Carnaval aproveita visita umas das feiras de produtos regionais que acontece nas cidades próximas da Guarda. Recomendo-te a Feira das Tradições de Pinhel, a uma distância de 30km e com grande animação.

                            Aqui podes experimentar os sabores típicos da beira serra (enchidos, queijo, azeite, pão, compotas, mel e vinhos) e a gastronomia regional com especial destaque para o buxo com grelos e o cabrito assado.

                            Na hora da partida leva algumas das iguarias contigo e partilha-as com os amigos, decerto farás furor! Da feira podes também levar produtos artesanais, alguns confecionados no momento.

                            Aproveita os concertos noturnos com músicos populares, sempre muito animados e cheios de boa disposição. Estas feiras são sempre inolvidáveis!
                        </p>
                    </div>
                </div>

                <div>
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">

                            <!-- Slide One - Set the background image for this slide in the line below -->
                            <div class="carousel-item active" style="background-image: url('https://terrasdabeira.gmpress.pt/wp-content/uploads/2020/02/Pinhel.jpg')"> </div>

                            <!-- Slide Two - Set the background image for this slide in the line below -->
                            <div class="carousel-item" style="background-image: url('https://i2.wp.com/www.ointerior.pt/wp-content/uploads/2020/02/pe6a.jpg?ssl=1')"> </div>

                            <!-- Slide Three - Set the background image for this slide in the line below -->
                            <div class="carousel-item" style="background-image: url('https://static.wixstatic.com/media/c43012_701c19488e594a8cb3ab5371ccc33b99~mv2.png/v1/fit/w_1024,h_576,al_c,q_80/file.png')"> </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <div>
                        <h2>Guarda Folia</h2>
                        <p>
                            A Câmara Municipal da Guarda assinala no Carnaval um programa que inclui um desfile e o “Julgamento do Galo do Entrudo”. Consta ainda o desfile infantil, as Tabernas do Entrudo, teatro e a ‘Fun Run’.

                            O programa de animação de Carnaval da Guarda Folia destaca-se por ser um “Carnaval genuinamente português” que tem no Domingo Gordo o seu auge de festejo com o desfile e Julgamento do Galo do Entrudo, que conta habitualmente com a participação das freguesias do concelho.

                            O desfile e Julgamento do Galo, junto à Alameda de Santo André, conta com a participação de grupos de bombos e de fanfarras, que animarão o percurso até à Praça Luís de Camões, junto da Sé Catedral, onde decorrerá o tradicional espetáculo do “Julgamento do Galo”.

                        </p>
                    </div>
                </div>

                <div>
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">

                            <!-- Slide One - Set the background image for this slide in the line below -->
                            <div class="carousel-item active" style="background-image: url('https://terrasdabeira.gmpress.pt/wp-content/uploads/2020/02/Pinhel.jpg')"> </div>

                            <!-- Slide Two - Set the background image for this slide in the line below -->
                            <div class="carousel-item" style="background-image: url('https://i2.wp.com/www.ointerior.pt/wp-content/uploads/2020/02/pe6a.jpg?ssl=1')"> </div>

                            <!-- Slide Three - Set the background image for this slide in the line below -->
                            <div class="carousel-item" style="background-image: url('https://static.wixstatic.com/media/c43012_701c19488e594a8cb3ab5371ccc33b99~mv2.png/v1/fit/w_1024,h_576,al_c,q_80/file.png')"> </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <div>
                        <h2>Feira das Tradições</h2>
                        <p>
                            No fim-de-semana prolongado do Carnaval aproveita visita umas das feiras de produtos regionais que acontece nas cidades próximas da Guarda. Recomendo-te a Feira das Tradições de Pinhel, a uma distância de 30km e com grande animação.

                            Aqui podes experimentar os sabores típicos da beira serra (enchidos, queijo, azeite, pão, compotas, mel e vinhos) e a gastronomia regional com especial destaque para o buxo com grelos e o cabrito assado.

                            Na hora da partida leva algumas das iguarias contigo e partilha-as com os amigos, decerto farás furor! Da feira podes também levar produtos artesanais, alguns confecionados no momento.

                            Aproveita os concertos noturnos com músicos populares, sempre muito animados e cheios de boa disposição. Estas feiras são sempre inolvidáveis!
                        </p>
                    </div>
                </div>

                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                </ul>
            </div>           
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
