
@{
    ViewData["Title"] = "Monuments";
}

<h1>Monumentos</h1>
<h2>O que visitar</h2>

<div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://cdn.visitportugal.com/sites/www.visitportugal.com/files/mediateca/shutterstock_141500719_SeCatedralGuarda_CN_LianeM_660x371.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Sé-Catedral da Guarda</a>
                </h4>
                <p class="card-text">
                    Foi erguida no seguimento do pedido de D. Sancho I ao Papa Inocêncio III para transferir a diocese de Egitânia para a nova cidade da Guarda. Da original construção, de estilo românico, nada resta. Foram, no entanto, encontrados alguns vestígios que apontam para um edifício simples.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Saber mais</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/0b/97/90/a0/torre-de-nmebagem-castelo.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Castelo da Guarda</a>
                </h4>
                <p class="card-text">
                    Em posição dominante sobre a cidade mais alta do país, ergue-se a 1.056,3 metros do nível do mar. Apesar de muito descaracterizado pelas intervenções particularmente a partir do século XIX, os troços remanescentes de seus antigos muros ainda definem, em alguns trechos, os limites urbanos.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Saber mais</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://www.cm-sabugal.pt/wp-content/uploads/2016/01/cm-sabugal131.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Castelo do Sabugal</a>
                </h4>
                <p class="card-text">
                    Em posição dominante sobre a povoação, num pequeno planalto da serra da Malcata, controla a travessia do rio Côa em sua margem direita, donde a sua importância na antiguidade e na época medieval.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Saber mais</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://mb.web.sapo.io/c97c37ab175a09375dcb9d5dfab58b0341cd51a3.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Castelo de Linhares da Beira</a>
                </h4>
                <p class="card-text">
                    Situado num cabeço rochoso num contraforte a noroeste da serra da Estrela, domina o vale do rio Mondego. O seu passado mergulha nas lendas, sendo considerado uma das fortificações medievais mais importantes da Beira Alta Interior.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Saber mais</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://www.viajecomigo.com/wp-content/uploads/2017/11/Castelo-e-arvore-Trancoso-Portugal-%C2%A9-Viaje-Comigo.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Castelo de Trancoso</a>
                </h4>
                <p class="card-text">
                    Ergue-se sobre um planalto na região Nordeste da Beira, vizinho à nascente do rio Távora, afluente do rio Douro, e ao Castelo de Penedono, distante cerca de cinco léguas, com o qual compartilha caraterísticas comuns.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Saber mais</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://www.aldeiashistoricasdeportugalblog.pt/wp-content/uploads/2018/04/42019488690_8f4489116c_k-1024x683.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Praça-forte de Almeida</a>
                </h4>
                <p class="card-text">
                    A par com a Praça-forte de Valença e com a Praça-forte de Elvas, esta é considerada como a mais monumental das praças do país. Confrontava-se com o Real Fuerte de la Concepción, no lado oposto da fronteira.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Saber mais</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/3/38/Folgosinho1.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Castelo de Folgosinho</a>
                </h4>
                <p class="card-text">
                    Na vertente norte da serra da Estrela, o castelo é o ex libris da povoação, cuja fundação é atribuída ao lendário Viriato, que aqui teria nascido. Juntamente com o de Linhares e com o de Celorico, o castelo de Folgosinho compunha um triângulo defensivo do vale do rio Mondego.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Saber mais</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://www.guiadacidade.pt/assets/capas_poi/capa_15051.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Ponte do Escalhão</a>
                </h4>
                <p class="card-text">
                    Esta bonita estrutura sobre o rio Aguiar, um bonito afluente do magnífico rio Douro está situada entre Escalhão e a respectiva sede de concelho, Figueira de Castelo Rodrigo, numa paisagem de grande beleza natural e paz de espírito.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Saber mais</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://www.cm-sabugal.pt/wp-content/uploads/Castelo-de-Sortelha-rota-5-castelos.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Castelo de Sortelha</a>
                </h4>
                <p class="card-text">
                    Erguido sobre um maciço granítico em posição dominante sobre o vale de Riba-Côa, área de passagem entre a Meseta Ibérica e a depressão da Cova da Beira, integra o conjunto da que é considerada uma das mais bem conservadas Aldeias Históricas da Beira Interior.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Saber mais</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/e/e6/70481_-_Castelo_de_Num%C3%A3o.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Castelo de Numão</a>
                </h4>
                <p class="card-text">
                    Na vertente este da serra da Lapa, inscrito atualmente no Parque Arqueológico do Vale do Côa, de seus muros avistam-se os castelos de Ansiães, Castelo Melhor, Castelo Rodrigo, Ranhados e Penedono.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Saber mais</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://i1.wp.com/ointerior.pt/wp-content/uploads/2019/05/noticiamuralhas-1024x528.jpg?fit=1024%2C528&ssl=1" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Castelo de Pinhel</a>
                </h4>
                <p class="card-text">
                    Fortificação da raia beirã com o reino de Leão em tempos medievais, ergue-se em posição dominante na Serra da Marofa, à margem esquerda do rio Côa.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Saber mais</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://www.guiadacidade.pt/assets/capas_poi/capa_14607.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Castelo de Castelo Rodrigo</a>
                </h4>
                <p class="card-text">
                    Em posição dominante sobre a ribeira de Aguiar, ao sul da planície de Ribacôa, constituía-se em local de passagem para os peregrinos que, da Beira Baixa, se dirigiam a Santiago de Compostela pelo caminho que, na Idade Média, ia da Guarda a Barca d’Alva.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Saber mais</a>
            </div>
        </div>
    </div>
</div>
