@model MonuGuardaApp.Models.Guia

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Guias</h1>

<hr />
<div>
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Nome" class="control-label"></label>
                </div>
                <div class="col-md-4">
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Telemovel" class="control-label">Telemóvel</label>
                </div>
                <div class="col-md-4">
                    <input asp-for="Telemovel" class="form-control" />
                    <span asp-validation-for="Telemovel" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Email" class="control-label"></label>
                </div>
                <div class="col-md-4">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="DataDeNascimento" class="control-label">Data de Nascimento</label>
                </div>
                <div class="col-md-4">
                    <input asp-for="DataDeNascimento" class="form-control" />
                    <span asp-validation-for="DataDeNascimento" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Morada" class="control-label"></label>
                </div>
                <div class="col-md-4">
                    <input asp-for="Morada" class="form-control" />
                    <span asp-validation-for="Morada" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <input type="submit" value="Criar Guia" class="btn btn-primary col-md-1" />
                <a asp-action="Index" class="col-md-4" style="margin-top: 5px">Ver Lista</a>
            </div>
        </form>
    </div>
</div>

