@model MonuGuardaApp.Models.Guia

@{
    ViewData["Title"] = "Create";
}

<div class="carousel-item active" style="background-image: url('https://cdn.visitportugal.com/sites/default/files/styles/encontre_detalhe_poi_destaque/public/mediateca/shutterstock_669550153_View%20at%20the%20Cathedral%20of%20Guarda_by%20%20milosk50.jpg?itok=CRjumpZA') ">
    <div class="carousel-caption d-none d-md-block">
        <h1>Bem-Vindo</h1>
        <h4>Aqui pode criar guias</h4>
    </div>
</div>
<div style="margin-top: 20px">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="Nome" class="control-label">Nome</label>
            </div>
            <div class="col-md-4">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="Telemovel" class="control-label">Telemóvel</label>
            </div>
            <div class="col-md-4">
                <input asp-for="Telemovel" class="form-control" />
                <span asp-validation-for="Telemovel" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="Email" class="control-label">Email</label>
            </div>
            <div class="col-md-4">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label for="photoFile" class="control-label">Photo</label>
            </div>
            <div class="col-md-4">
                <input name="photoFile" type="file" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
            <div class="col-md-2">
                <a asp-action="Index">Ver Lista</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
